ul li {
    display: inline;
    margin-right: 15px;
    padding-left: 120px;
    padding-right: 120px;
    padding-bottom: 20px;
    padding-top: 20px;
    border-radius: 50px;
    background-color: rgb(196, 118, 255);
    margin-bottom: 20px;
  }
#ap {
    text-align: center;
}


body.dark-mode {
    background: #111111;
    color: #ffffff;
}

#btn {
    border-radius: 50px;
    margin: 10px;
    background: linear-gradient(-45deg, rgb(253, 125, 255), #8400ff 80%);
    padding: 5px 10px;
    cursor: pointer;
    border: 2px solid black;
}

#ig {
    border: 2px solid purple;
    border-radius: 50px;
    width: 300px;
    margin: 0 auto;
}

nav {
    display: flex;
    flex-direction: column;   
    align-items: center;     
    background-color: rgb(114, 0, 163);
    padding: 10px 20px;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 600px;
    background-color: #f175ff;
}
 
th, td {
    border: 5px solid #000000;
    padding: 10px;
    text-align: center;
}
 
th {
    background: #e100ff;
}

img {
    width: 200px;
    height: 200px;
    border-radius: 8px;
}


form {
    margin: 0 auto;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
 
input, textarea {
    padding: 10px;
    border: 2px solid #8800ff;
    border-radius: 5px;
}


body {
    align-items: center;
    text-align: center;
    font-family: "Poppins", sans-serif;
    margin: 0;
}